body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.name-header {
  text-align: center; 
}

.contactInfo-header {
  text-align: center;
  border-bottom: 1px solid #000000;
}


.intro-header {
  border-top: 2px solid #000000;
}


.PositionUSbank-header {
  border-bottom: 1px solid #000000;
}

.ProExp-header {
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.PositionBSB-header {
  border-bottom: 1px solid #000000;
}


.PositionPrime-header {
  border-bottom: 1px solid #000000;
}


.PositionSyand-header {
  border-bottom: 1px solid #000000;
}


.PositionMSI-header {
  border-bottom: 1px solid #000000;
}


.PositionCAV-header {
  border-bottom: 1px solid #000000;
}


.Education-header {
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.CivEd-header {
  border-bottom: 1px solid #000000;
}










