body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.name-header {
  text-align: center; 
  border-bottom: 3px solid #000000;
  font-weight: bold;
}


.intro-header {
}

.right {
  margin-left: 100%

}

.JobUSbank-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

.ProExp-header {
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.JobBSB-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}


.JobPrime-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}


.JobSyand-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}


.JobMSI-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}


.JobCAV-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}


.Education-header {
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.CivEd-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}


.SECplus-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

.MilEd-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}

.SCCCC-header {
  border-bottom: 1px solid #000000;
  font-weight: bold;
}



